/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
 body{
 	font-family: 'Montserrat',sans-serif;
 }
#wrapper {
	/*background: #ff9b9b;*/
}
#_desktop_logo{
	width: 100%;
	padding: 0.7rem;
}
#header .header-nav{
	max-height: 100%;

}
#iuser{
	
	border: 1px solid #ececec;
	border-radius: 50%;
	
	padding: 1rem;
}
#icart{
	
	border: 1px solid #ececec;
	border-radius: 50%;
	
	padding: 1rem;
}

.right-nav{
	padding: 1.5rem;
}

#header .header-nav .blockcart{
	background:transparent;
}

#header .header-top{
	padding-bottom: 1rem;

}
#header .header-nav{

}
#header .header-top .menu{
	margin-bottom: 0.01rem;
}
body#checkout #header .header-nav{
	padding: 1rem;
}